
@model List<CarViewModel>;

<h1>@ViewBag.Title</h1>
<br>
<br>

<div class="row parco-title">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-2">
        Targa
    </div>
    <div class="col-md-3">
        Modello
    </div>
    <div class="col-md-2">
       KM
    </div>
    <div class="col-md-3">
        
    </div>
</div>

@foreach (CarViewModel car in Model)
{
<hr>
<div class="row parco">
    <div class="col-md-2">
        <img src="@car.strImagePath" alt="80" width="80">
    </div>
    <div class="col-md-2">
        @car.strTarga
    </div>
    <div class="col-md-3">
        @car.strModello
    </div>
    <div class="col-md-2">
       @car.Kilometri
    </div>
    <div class="col-md-3">
        <button class="btn btn-warning" type="button">Interventi</button>
    </div>
</div>
}

