
@model List<CarViewModel>;

<h1>@ViewBag.Title</h1>
<br>
<br>


@foreach (CarViewModel car in Model)
{
<hr>
<div class="row parco">
    <div class="col-md-2">
        <img src="@car.strImagePath" alt="80" width="80">
    </div>
    <div class="col-md-2">
        @car.strTarga
    </div>
    <div class="col-md-3">
        @car.strModello
    </div>
    <div class="col-md-5">
        <a class="btn btn-warning" asp-controller="Parco" asp-action="Interventi" asp-route-strTarga="@car.strTarga">Interventi</a>
    </div>
</div>
} 


